{% macro sort(column, label, route, datagrid, extraParams = {}) %}
    {% if datagrid.isSortedColumn(column) %}
        {% if datagrid.sortedColumnOrder(column) == 'desc' %} 
            {% set order = 'asc' %}
            {% set icon = 'fa-sort-desc' %}
        {% else %}
            {% set order = 'desc' %}
            {% set icon = 'fa-sort-asc' %}
        {%endif %}
    {% else %}
        {% set order = datagrid.defaultSortOrder %}
    {% endif %}
    
    <a href="{{ datagrid.sortPath(route, column, order, extraParams) }}">
        {{ label }} 
    </a> 
    
    <span class="sort-icon">
        <i class="fa fa-sort default-sort"></i>
        {% if datagrid.isSortedColumn(column) %}
            <i class="fa {{ icon }} active-sort"></i>
        {% endif %}
    </span>
    
    {% if datagrid.sortCount > 1 and datagrid.isSortedColumn(column) %}
    <sup class="label label-success sort-label">
        {{ datagrid.sortedColumnPriority(column) + 1 }}
        <a href="{{ datagrid.removeSortPath(route, column, extraParams) }}">
            <i class="fa fa-times remove-sort"></i>
        </a>
    </sup>
    {% endif %}
{% endmacro %}