{% spaceless %}
{% set pager = datagrid.pager %}
{% if pager.haveToPaginate %}
{% set links = 5 %}
{% set pages = pager.links(links) %}
{% set extraParameters = extraParameters|default({}) %}
    
<ul class="pagination">
    {% if pages[0] != pager.firstPage %}
    <li>
        <a href="{{ datagrid.getPaginationPath(route, pager.firstPage, extraParameters) }}" title="{{ 'page'}} {{ pager.firstPage }}" class="{% if pager.firstPage == pager.page %}active{% endif %}" >{{ pager.firstPage }}</a>
    </li>
    {% if pages[0] > (pager.firstPage + 1) %}
    <li><a href="#">...</a></li>
    {% endif %}
    {% endif %}
    {% for page in pages %}
    <li class="{% if pager.page == page %}active{% endif %}">
        <a href="{{ datagrid.getPaginationPath(route, page, extraParameters) }}" title="{{ 'page'}} {{ page }}" class="{% if page == pager.page %}active{% endif %}">{{ page }}</a>
    </li>
    {% endfor %}
    {% if pages[(links-1)] is defined and pages[(links-1)] < (pager.lastPage - 1) %}
    <li><a href="#">...</a></li>
    {% endif %}
    {% if pages[(links-1)] is defined and pages[(links-1)] != pager.lastPage %}
    <li>
        <a href="{{ datagrid.getPaginationPath(route, pager.lastPage, extraParameters) }}" title="{{ 'page'}} {{ pager.lastPage }}" class="{% if pager.lastPage == pager.page %}active{% endif %}" >{{ pager.lastPage }}</a>
    </li>
    {% endif %}
</ul>
{% endif %}
{% endspaceless %}
