{% extends "SpyritPropelDatagridBundle:Demo:layout.html.twig" %}

{% import "SpyritPropelDatagridBundle:Datagrid:macros.html.twig" as macros %}

{% block body %}

{% set datagrid = booksDatagrid %}
{% set books = datagrid.results %}
{% set form = datagrid.filterFormView %}
{% set route = 'spyrit_propel_datagrid_list' %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-alt">
            <div class="panel-heading">
                <h4 class="panel-title">{{ "Books" }}</h4>
            </div>
            <div class="panel-body">
                <form action="{{ path(route) }}" method="post" class="form-inline">
                    <div class="row">
                        <div class="col-lg-2 form-group"> 
                            {{ form_widget(form.id, {'attr': { 'class': 'form-control', 'placeholder': "Identifier" } }) }}
                            <div class="help-block">
                                {{ form_errors(form.id) }}
                            </div>
                        </div>
                        <div class="col-lg-2 form-group"> 
                            {{ form_widget(form.title, {'attr': { 'class': 'form-control', 'placeholder': "Title" } }) }}
                            <div class="help-block">
                                {{ form_errors(form.title) }}
                            </div>
                        </div>
                        <div class="col-lg-2 form-group"> 
                            {{ form_widget(form.authorFullname, {'attr': { 'class': 'form-control ', 'placeholder': "Author" } }) }}
                            <div class="help-block">
                                {{ form_errors(form.authorFullname) }}
                            </div>
                        </div>
                        <div class="col-lg-3 form-group"> 
                            {{ form_widget(form.publisher, {'attr': { 'class': 'form-control', 'placeholder': "Publisher" } }) }}
                            <div class="help-block">
                                {{ form_errors(form.publisher) }}
                            </div>
                        </div>
                        <div class="col-lg-3">    
                            <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-search"></i> {{ "Search" }}</button>
                            <a href="{{ path('spyrit_propel_datagrid_export', { 'name' : 'csv' }) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{ "CSV" }}</a>
                            <a href="{{ datagrid.resetPath(route) }}" class="btn btn-danger btn-sm"><i class="fa fa-refresh"></i> {{ "Reset" }}</a>
                        </div>  
                    </div>
                    {{ form_rest(form) }}
                   
                </form>
                <hr />
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{ macros.sort('id', "#", route, datagrid) }}</th>
                                <th>{{ macros.sort('title', "Title", route, datagrid) }}</th>
                                <th>
                                    {{ "Author" }} ({{ macros.sort('authorFirstname', "Firstname", route, datagrid) }} / {{ macros.sort('authorLastname', "Lastname", route, datagrid) }})
                                </th>
                                <th>{{ "Publisher" }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                            <tr>
                                <td>{{ book.id }}</td>
                                <td>{{ book.title }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.publisher }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-8">
                        {% include 'SpyritPropelDatagridBundle:Datagrid:pagination.html.twig' with { 'datagrid': datagrid, 'route' : route } %}
                    </div>
                    <div class="col-lg-4">
                        {% include 'SpyritPropelDatagridBundle:Datagrid:pagination_info.html.twig' with { 'datagrid': datagrid } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% set datagrid = publishersDatagrid %}
{% set publishers = datagrid.results %}
{% set form = datagrid.filterFormView %}

{% set route = 'spyrit_propel_datagrid_list' %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-alt">
            <div class="panel-heading">
                <h4 class="panel-title">{{ "Pubishers" }}</h4>
            </div>
            <div class="panel-body">
                
                <div class="table-responsive">
                    <form action="{{ path(route) }}" method="post">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{ macros.sort('id', "#", route, datagrid) }}</th>
                                <th>{{ macros.sort('name', "Name", route, datagrid) }}</th>
                                <th>{{ "Actions" }}</th>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_widget(form.id, {'attr': { 'class': 'form-control', 'placeholder': "Identifier" } }) }}
                                    <div class="help-block">
                                        {{ form_errors(form.id) }}
                                    </div>
                                </td>
                                <td>
                                    {{ form_widget(form.name, {'attr': { 'class': 'form-control', 'placeholder': "Title" } }) }}
                                    <div class="help-block">
                                        {{ form_errors(form.name) }}
                                    </div>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-search"></i> {{ "Search" }}</button>
                                    {#<a href="{{ path('spyrit_propel_datagrid_export', { 'name' : 'csv' }) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{ "CSV" }}</a>#}
                                    <a href="{{ datagrid.resetPath(route) }}" class="btn btn-danger btn-sm"><i class="fa fa-refresh"></i> {{ "Reset" }}</a>
                                    {{ form_rest(form) }}
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for publisher in publishers %}
                            <tr>
                                <td>{{ publisher.id }}</td>
                                <td>{{ publisher.name }}</td>
                                <td><i class="fa fa-times"></i> {{ "Delete" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-8">
                        {% include 'SpyritPropelDatagridBundle:Datagrid:pagination.html.twig' with { 'datagrid': datagrid, 'route' : route } %}
                    </div>
                    <div class="col-lg-4">
                        {% include 'SpyritPropelDatagridBundle:Datagrid:pagination_info.html.twig' with { 'datagrid': datagrid } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                        
{% endblock %}